<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidstudio.snowman"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sbbox"
        android:label="@string/app_name"
        android:theme="@style/Holo" >
        <activity
            android:name="com.androidstudio.snowman.SplashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.androidstudio.snowman.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:taskAffinity="com.popup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidstudio.snowman.AddCardActivity"
            android:label="@string/title_activity_add_card" >
        </activity>

        <service
            android:name="com.androidstudio.snowman.NotiService"
            android:enabled="true" />
        <!--
        these two activities are for pop up text message back to back
        answer and questions
        -->
        <activity
            android:name="com.androidstudio.snowman.Popupdialog"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_popupdialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.androidstudio.snowman.Popupdialog2"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_popupdialog2"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <!-- Text message pop up activites -->
        <activity
            android:name="com.androidstudio.snowman.Frequencies"
            android:label="@string/title_activity_frequencies" >
        </activity>
        <activity
            android:name="com.androidstudio.snowman.SeekbarActivity"
            android:label="@string/title_activity_seekbar"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>